<h1>All Products</h1>

<% @products.each do |p| %>
  <p>Name: <%= p.title %></p>
  <p>Desc: <%= p.description %></p>
  <p>Unit Price: <%= p.price %></p>
  <p>Pack Size: <%= p.pack_size %></p>
  <p>Unique Product Code: <%= p.product_code %></p>
<% end %>
